.panel {
    width: 25%;
    max-width: 400px;
    min-width: 250px;
    display:flex;
    flex-direction:column;
}

.parcel-form {
    padding:10px;
}
  
    .parcel-form input {
        margin-bottom: 5px;
        width: 83%;
        padding-right: 24px;  
    }

    .parcel-form .search {
        margin-left: -24px;
    }

.layer-form {
    display:flex;
    flex-direction: column;
}

    .layer-form label {
        padding: 5px 10px;
        text-align: right;
        padding-right:20px;
    }

