# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# secrets
.env

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.old
*.shp
/src/Database/upload
SKYWATCH_PHR_PS_20170611T1927_TC_Tile_0_0_ALzStxev_visual.png