.App {
  text-align: center;
  height: 100vh;
  display:flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.results-text {
  max-height: 400px;
  margin: 10px;
  margin-top: auto;
  text-align: left;
}

.results-id {
  font-weight:bold;
}

.results-info {
  overflow-y:auto;
  border: 1px solid lightgray;

}

.error {
  color: rgb(187, 14, 14)
}

.pid-label {
  display:block;
}