.ol-map {  
    height: 100%;
    width: 100%;
    background-color: darkgrey;
}

.ol-map-container {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:row;
    border: 2px solid cornsilk;
    border-radius: 2px;
    background-color: grey;
}

.ol-full-screen {  
    top: .5em;  
    right: .5em;
}

.ol-zoom {
    left: auto;
    right: 8px;
    top: auto;
    bottom: 8px;
 }

 .ol-attribution.ol-uncollapsible {
     right: auto;
     left: 0;
 }
